---
export const prerender = true;

import Base       from '../layouts/Base.astro';
import Nav        from '../components/Nav.astro';
import Hero       from '../components/Hero.astro';
import HeroMobile from '../components/HeroMobile.astro';
import About      from '../components/About.astro';
import Services   from '../components/Services.astro';
import Marquee    from '../components/Marquee.astro';
import Industries from '../components/Industries.astro';
import Projects   from '../components/Projects.astro';
import Why        from '../components/Why.astro';
import CTABanner  from '../components/CTABanner.astro';
import Contact    from '../components/Contact.astro';
---
<Base>
  <Nav />
  <Hero />
  <HeroMobile />

  <div class="divider"></div>
  <About />

  <div class="divider"></div>
  <Services />

  <Marquee />

  <Industries />

  <div class="divider"></div>
  <Projects />

  <div class="divider"></div>
  <Why />

  <CTABanner />

  <div class="divider"></div>
  <Contact />
</Base>
