---
import { marqueeItems } from '../data/marquee.js';
const doubled = [...marqueeItems, ...marqueeItems];
---
<div class="marquee" aria-hidden="true">
  <div class="marquee-track">
    {doubled.map((item) => <span class="marquee-item">{item}</span>)}
  </div>
</div>
